/* #26303b */
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Dancing+Script:wght@400..700&family=Edu+SA+Hand:wght@400..700&family=Gravitas+One&family=Playwrite+GB+J+Guides:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
.nav-liste {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: #26303b;
  height: 70px;
  font-size: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-liste li {
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s ease;
}
nav img{
  width: 100px;
  height: 100px;
}
.nav-liste li:hover {
  color:aqua;
}
nav h1,span{
  color: aqua;
}

 
