/* #26303b */
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Dancing+Script:wght@400..700&family=Edu+SA+Hand:wght@400..700&family=Gravitas+One&family=Playwrite+GB+J+Guides:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
 
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* très important */
}
.nav-liste{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: #26303b;
  height: 70px;
  font-size: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100%;
  position: fixed; 
  opacity: 0.8;
}
.nav-liste a,li {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
nav img{
  width: 100px;
  height: 100px;
}
.nav-liste li:hover {
  color:aqua;
}
nav h1,span{
  color: aqua;
}

/* __________hero section __________ */
#myVideo{
    width: 100%;   
    height: auto; 
    display: block;  
}
.hero-section {
  position: relative;
}
 
.hero-section h1{
 position: absolute;
 top: 150px;
 font-family: "Boldonse", system-ui;
 color: white;
 padding: 0px 100px;
 font-size: 60px;
} 
/* ________boutton__________ */
.hero-section button {
  position: absolute;
  top: 550px;
  margin: 0px 100px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 14rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  box-shadow: 0 0 5px 1px white;
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: rgba(255, 255, 255, 0.493);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
  box-shadow: 0 0 10px 2px white;
}

button:hover .button-text {
  transform: translate(-1.7rem, 0);
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(11rem, 0);
}

button:active .circle .icon.arrow {
  transform: translate(9.5rem, 0);
  transition: all 0.3s;
}

button:active .circle {
  transform: scale(0.9);
  transition: all 0.3s;
  box-shadow: 0 0 5px 0.5px white;
}

button:hover .button-text {
  color: aqua;
}

button:active .button-text {
  color: rgba(255, 255, 255, 0.459);
}

/* ___________ DESIGN SECTION ___________ */

.design {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(4, 300px);
  margin: 50px 150px;
  font-size: 30px;
  gap: 15px;
}

/* Desktop positioning (inchangé) */

.item-input{
  grid-column:1;
  grid-row: 1;
}

.item9 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 2;
  padding: 5%;
}

.item8 {
  grid-column: 1;
  grid-row: 2;
}

.item7 {
  grid-column: 2 / 4;
  grid-row: 3;
  padding: 5%;
}

.item6 {
  grid-column: 4;
  grid-row: 3 / 4;
}

.item5 {
  grid-column: 1 / 3;
  grid-row: 4;
  padding: 5%;
  
}

.item4 {
  grid-column: 3 / 4;
  grid-row: 4;
  
}

/* Images responsive */

.design img {
   width: 400px;
   height: 300px;
  object-fit: cover;
}

 

section h2 {
  font-family: "Boldonse", system-ui;
  color: #26303b;
  font-size: 40px;
}

.design p {
  text-align: justify;
  font-size: 30px;
 
}
 
/* __________Performance section___________ */
.performance{
  margin: 100px 150px;
}
.performance-description h2{
 font-family: "Boldonse", system-ui;
 color: #26303b;
 font-size: 30px;
 margin-left: 20px;
}
.performance-description span{
  color: aqua;
}
.performance-description p{
  font-size: 20px;
  margin: 20px 20px 40px 20px;
  color:#26303b;
}
.performance-bloc{
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 30px;
  margin: 0px 20px;

}
.performance-bloc div{
  width: 100%;
  height: auto;
  color:#26303b;
  border: 1px solid #26303b ;
   
}
.performance-bloc div h2{
 font-size: 25px;
}
.performance-bloc hr{
 border: 2px solid aqua;
 padding: 0px 5px;
 margin: 10px;
}
.performance-bloc p{
  font-size: 20px;
  margin: 0px 5px;
}
.performance video{
  margin: 50px 10% ;
  width: 80%;
  height: auto;
  box-shadow: 5px 7px #4E6F8F;
  cursor: pointer;
}
.performance video:hover{
   transform: scale(1.05);
}
 

/* ____________Gallery section ________ */
.gallery{
  margin:150px 0px;
}
.gallery h2{
 margin: 30px 150px;
 font-family: "Boldonse", system-ui;
 color: #26303b;
 font-size: 30px;
}
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}
div.scroll-container img {
  padding: 10px;
}

/* _________Technology section_________ */
.techno{
 margin: 0px 150px 100px 150px; 
}
.techno>h2{
 font-family: "Boldonse", system-ui;
 color: #26303b;
 font-size: 30px;
 margin-bottom: 50px;
}
.technology {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    
     
}
.technology h2{
    font-size: 30px;
    text-align: center;
    padding-top: 20px; 
    color: #26303b;
}
.technology p{
    font-size: 20px; 
    text-align: justify;
    padding: 20px 20px;
    color: white;
}
.technology p>span{
  color: #26303b;
  font-weight: bold;
}
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    background-color: #748CA5;
    border-radius:15px;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    background-color:rgb(76, 95, 115,0.7);
    border-radius: 15px;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 4;
    background-color: rgb(46, 61, 78,0.3);
    border-radius: 15px;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;
    background-color: #4E6F8F;
    border-radius:15px;
    
} 
/* __________footer____________ */
footer{
  background-color: #26303b;
  padding: 50px 0px 50px 0px;
  color: silver;
}
.footer-row1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
 
footer div ul  li{
  list-style: none;
  color: silver;
}
footer ul>a{
  text-decoration: none;
}
 .footer-row2{
  display: flex;
   padding: 100px 120px;
   gap: 150px;
   
 }
 .footer-row2 p{
  font-size: 20px;
  margin-bottom: 5px;
 }
 .footer-row2 input,button{
    padding: 5px;
 }
 .footer-row2 input{
    width: 300px;
    background-color: #26303b;
    border: 1px solid white;
    color: white;
 }
 .footer-row2 button{
    background-color: white;
    border: none;
    color: #26303b;
    font-family: 'Times New Roman', Times, serif;
 }
 .socials a{
  color: silver;
  font-size: 20px;
  padding: 5px;
 }

/* ______________Responsive_____________ */ 
/* _______________laptop 1024px_____________ */
@media (max-width: 1024px) {
  body{
    overflow-x: hidden;
  }
  .nav-liste{
  width: 1024px;
} 

.hero-section button {
  top: 500px;
}
.item7{
  grid-column-start:1;
  grid-column-end:3;
  grid-row:3;
}
.item6{
  grid-column-start:3;
  grid-column-end:4;
  grid-row-start:3;
  grid-row-end:4;
}
.footer-row2{
  padding: 100px 80px;
   gap: 80px;
 }
}
/* _______________tablette 768px_____________ */
@media (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .nav-liste{
  width: 768px;
  } 
  
.hero-section h1{
 font-size: 35px;
  } 
.hero-section button {
  top: 380px;
  }
  
  .design {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    margin: 50px 5%;
  }
  .design p{
    font-size: 20px;
  }
  .design img{
  width: 300px;
  height: 200px;
  }
  .performance{
  margin: 100px 5%;
}
.performance-bloc div h2{
 font-size: 15px;
}
.technology h2{
    font-size: 20px;
}
.footer-row2{
  padding: 100px 40px;
  gap: 155px;
 }
}
/* ___________mobile L_________ */
@media screen and (max-width: 500px)
{
 
.nav-liste{
  width: 100%;
  font-size: 30px;
  }
  #myVideo{
    width: auto;
  }
  .hero-section h1{
 font-size: 60px;
  } 
  .hero-section button {
  top: 550px;
  }
   .design {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    margin: 50px 20%;
  }
  .design img {
   width: 500px;
   height: 300px;
}
.design p {
  font-size: 40px;
}
  .performance-bloc{
  flex-direction: column;
}
 .performance{
  margin: 20%;
  width: 1000px;
 } 
 .performance-description p{
  font-size: 40px;
  
}
 .block11 {
  display: flex;
  flex-direction: row;
 } 
 .block22{
  display: flex;
  flex-direction: row;
 }
 .performance-bloc p{
  font-size: 30px;
  
}
.performance-bloc div h2{
 font-size: 25px;
}
.gallery{
  margin-left: 0%;
  width: 1200px;
}
  

  .technology{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .div1,
  .div2,
  .div3,
  .div4{
    grid-column: auto;
    grid-row: auto;
    width: 800px;
    height: auto;
    margin: 20px 50px;
    
  }

  .technology h2{
    font-size: 40px;
  }

  .technology p{
    font-size: 30px;
    text-align: left;
  }
  footer{
    width: 1200px;
  }
.footer-row2{
  padding: 100px 120px;
  gap: 155px;
 } 
}

