/* #26303b */
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Dancing+Script:wght@400..700&family=Edu+SA+Hand:wght@400..700&family=Gravitas+One&family=Playwrite+GB+J+Guides:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
.nav-liste {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: #26303b;
  height: 70px;
  font-size: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-liste li {
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s ease;
}
nav img{
  width: 100px;
  height: 100px;
}
.nav-liste li:hover {
  color:aqua;
}
nav h1,span{
  color: aqua;
}

/* __________hero section __________ */
#myVideo{
    width: 100%;   
    height: auto; 
    display: block;  
    max-width: 100%; 
}
 
.hero-section h1{
 position: fixed;
 top: 150px;
 font-family: "Boldonse", system-ui;
 color: white;
 padding: 0px 100px;
 font-size: 60px;
} 
/* ________boutton__________ */
.hero-section button {
  position: fixed;
  top: 550px;
  margin: 0px 100px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 14rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  box-shadow: 0 0 5px 1px white;
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: rgba(255, 255, 255, 0.493);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
  box-shadow: 0 0 10px 2px white;
}

button:hover .button-text {
  transform: translate(-1.7rem, 0);
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(11rem, 0);
}

button:active .circle .icon.arrow {
  transform: translate(9.5rem, 0);
  transition: all 0.3s;
}

button:active .circle {
  transform: scale(0.9);
  transition: all 0.3s;
  box-shadow: 0 0 5px 0.5px white;
}

button:hover .button-text {
  color: aqua;
}

button:active .button-text {
  color: rgba(255, 255, 255, 0.459);
}

